faiss-gpu
huggingface_hub
transformers
sentence_transformers
langchain
langchain-community
pypdf
langchain-anthropic
elasticsearch
langchain-huggingface
llama-index
qdrant-client
optimum
vllm
mysql-connector-python
flask_sqlalchemy
flask
bcrypt